body {
  background-color: rgb(245,245,245);
  font-family: 'Dosis', sans-serif;

}

.formControl {
  color: black;
}

#landingSubmit {
  color: black;
}

#headerImage {
  width: 80%;
  height: 30%;
  margin: 2% 0% 0% 0%;
  padding: 0%;
}

#headerCarImage {
  margin: 20% 0% 0% 0%;
width: 40%;
height: 30%;
}

