body {
  background-image: url("../src/images/page-background (1).jpg");
  font-family: 'Dosis', sans-serif;
background-size: cover;

}

.formControl {
  color: black;
  border: solid white;
  border-radius: 25px;
  background: white;
  box-shadow: 5px 2px 2px rgba(0,0,0,25%);
}

#landingSubmit {
  color: black;
  border-radius: 25px;
  background: transparent;
  border: solid white;
  box-shadow: 5px 2px 2px rgba(0,0,0,25%);
}

.card-image{
  display: flex;
  justify-content: center;

}

#CarLogo {
  height: 90%;
  width: 10%;
 margin: 0% 0% 0% 10%;
}

#carsHeader {
  
}

#headerImage {
  height: 50%;
  width: 80%;
}

#headerCarImage {
 

}

#carLogo {
  width: 40%;
  height: 40%;
}

.navBarLinks {
  color: black;
}

#ChargingDot {
  width: 10%;
  height: 10%;

}



#Card {
  margin: 0% 30% 0% 0%;
text-align: center;
}

.links {
  margin: 1% 1%;
}




#rectangle {
  border: 3px solid rgb(38,164,219);
  border-radius: 10px;
  background: rgb(38,164,219);
  color: white;
  box-shadow: 10px 5px 5px rgba(3,3,3,25%);
  display: flex;
  flex-direction: row
}

#CardRectangle {
  border: 3px solid rgb(38,164,219);
  border-radius: 10px;
  background: rgb(38,164,219);
  color: white;
  box-shadow: 10px 5px 5px rgba(3,3,3,25%);
  margin: 0px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  

}

#infoButton {
  background: transparent;
  border: none;
 
}

#info {
  height: 20%;
  width: 50%;
}

